.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## React Frontend ##
/frontend/node_modules/

/src/main/resources/static/static/
/src/main/resources/static/asset-manifest.json
/src/main/resources/static/favicon.ico
/src/main/resources/static/index.html
/src/main/resources/static/manifest.json
/src/main/resources/static/service-worker.js
/src/main/resources/static/application.properties
/src/main/resources/static/precache-manifest.*.js
